[Unit]
Description=void-wg automatic update
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/void-wg/scripts/update.sh
TimeoutStartSec=900
StandardOutput=journal
StandardError=journal
